#Open Router Config
OPENROUTER_API_KEY= "YOUR_API_KEY"

#Twiter Config
TWITTER_USERNAME= "YOUR_TWITTER_USERNAME"
TWITTER_PASSWORD= "YOUR_TWITTER_PASSWORD"
TWITTER_EMAIL= "YOUR_TWITTER_EMAIL"
TWITTER_API_KEY= "YOUR_TWITTER_API_KEY"
TWITTER_API_SECRET_KEY= "YOUR_TWITTER_API_SECRET_KEY"
TWITTER_POLL_INTERVAL=10
TWITTER_TARGET_USERS= []
POST_IMMEDIATELY= true

#Discord Config
DISCORD_API_TOKEN= "YOR TOKEN",
DISCORD_APPLICATION_ID= "YOUR APP ID"
